{% load static %}


<!-- Event/blog/news yapısını anasayfada gösterimini sağlayan yapıdır. -->
<div class="col">
  <div class="h-100">
    <div class="blog-card" data-aos="fade-up" data-aos-delay="100">
      <a href="{% url 'event_details' event.slug %}">
        <div class="blog-header-info">
          <img src="{{ event.image.url }}" alt="..." />
        </div>
      </a>
      <div class="blog-body-info">
        <p class="blog-text">{{ event.title }}</p>
        <a href="{% url 'event_details' event.slug %}" class="blog-title"></a>
      </div>
      <div class="blog-footer-info">
        <a href="{% url 'event_details' event.slug %}" class="more-btn">READ MORE</a>
      </div>
    </div>
  </div>
</div>