{% load static %}


<!-- 
Event sayfasında gösterilen cardların oluşturulduğu yapıdır.
Buradaki cardlara tıklandığında slug ismine göre 
single-event.html sayfasına yönlendirmektedir. 
-->
<div class="col">
  <div class="h-100">
    <div class="blog-card" data-aos="fade-up" data-aos-delay="100">
      <a href="{% url 'guidebook_details' guidebook.slug %}">
        <div class="blog-header-info">
            <img src="{{ guidebook.image.url }}" alt="...">
        </div>
      </a>
      <div class="blog-body-info">
        <p class="blog-text">{{ guidebook.date }}</p>
        <a href="{% url 'guidebook_details' guidebook.slug %}" class="blog-title">{{ guidebook.title }}</a>
      </div>
      <div class="blog-footer-info">
        <a href="{% url 'guidebook_details' guidebook.slug %}" class="more-btn">READ</a>
      </div>
    </div>
  </div>
</div>