{% load static %}


<!-- 
Görsel içeriklerin DBden alındığı kısımdır.{{gallery.file.url}}
style="background-image:url('{{gallery.image.url}}'); background-size: cover; background-position: center; background-repeat: no-repeat;"

<div class="item">
  <a href={{gallery.image.url}} data-source={{gallery.file.url}} style="background-image:url('{{gallery.image.url}}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; padding: 20px; background-color: black; opacity: 70%">
      <p style="text-align: center;">{{ gallery.title|title }}</p>
    </div>
    <img src={{gallery.image.url}} alt="Photo"/>
    <div class="frame gallery-hover-icon">
      <span><img src="{% static 'img/zoom.svg' %}" alt="zoom"></span>
    </div>
  </a>
</div>
-->

<style>
  .gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-auto-rows: minmax(350px, 200px);
    grid-auto-flow: dense;
  }
  .gallery .d1 {
    overflow: hidden;
    position: relative;    
    margin: 5px;
  }
  .gallery .d1:hover .frame {
    top: 0;
  }
  .gallery .d1 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 1s;
    transition-delay: 0.2s;
  }
  .gallery .d1:hover img {
    transform: scale(1.2);
    opacity: 1;
  }
</style>

<div class="d1">
  <a href={{ gallery.file.url }} target="_blank">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; padding: 20px; background-color: black; opacity: 70%">
      <p style="text-align: center;">{{ gallery.title|title }}</p>
    </div>
    <img src={{gallery.image.url}} alt="Photo"/>
    <div class="frame gallery-hover-icon">
      <span>
        <img src="{% static 'img/downloads.svg' %}" alt="zoom">
      </span>
    </div>
  </a>
</div>
