{% load static %}


<!-- 
Event sayfasında gösterilen cardların oluşturulduğu yapıdır.
Buradaki cardlara tıklandığında slug ismine göre 
single-news.html sayfasına yönlendirmektedir. 
-->
<div class="col">
  <div class="blog-card" data-aos="fade-up">
    <a href="{% url 'news_details' newss.slug %}">
      <div class="blog-header-info">
          <img src="{{ newss.image.url }}" alt="...">
      </div>
    </a>
    <div class="blog-body-info">
      <p class="blog-text">{{ newss.date }}</p>
      <a href="{% url 'news_details' newss.slug %}" class="blog-title">{{ newss.title }}</a>
    </div>
    <div class="blog-footer-info">
      <a href="{% url 'news_details' newss.slug %}" class="more-btn">READ MORE</a>
    </div>
  </div>
</div>