{% load static %}


<!-- Videoların listelenmesini sağlayan kod yapısı -->
<div class="col">
    <div class="blog-card justify-content-center display-flex align-items-center" data-aos="fade-up">
<!--

    
        <a href="blog-single.html">
            <div class="blog-header-info">
                <img src="{{video.image.url}}" alt="...">
            </div>
        </a>
        <div class="blog-body-info">
            <p class="blog-text">17.10.2023</p>
            <a href="{{video.URL}}" class="blog-title">{{video.title}}</a>
        </div>

-->

            <a href={{ video.URL }}
                class="ak-video-block ak-style1 ak-video-open ak-bg ak-parallax_bg imagesZoom"
                style="height:200px; width: 300px;"
                data-src="{{video.image.url}}" data-aos="zoom-out-down" data-aos-duration="1000"
                data-aos-delay="200">
                <span class="ak-heartbeat-btn">
                    <span></span>
                </span>
            </a>
            <div class="blog-body-info">
                <p class="blog-text"><br/>17.10.2023</p>
                <a href="{{video.URL}}" class="blog-title">{{video.title|title}}</a>
            </div>
    </div>
</div>