{% load static %}


<!-- 
Workpacket card yapısını oluşturan kod yapısı

-->
<div class="service-card" data-aos="fade-left">
  <a href="{% url 'workpacket_details' workpacketdeneme.slug %}" class="card-img">
    <img
      src="{{ workpacketdeneme.image.url }}"
      class="ak-bg"
      alt="..."
    />
  </a>
  <div class="card-info">
    <a href="{% url 'workpacket_details' workpacketdeneme.slug %}" class="card-title">
      {{ workpacketdeneme.title }}
    </a>
    <p class="card-desp">
      {{ workpacketdeneme.description|truncatewords:10|safe }}
    </p>
    <a href="{% url 'workpacket_details' workpacketdeneme.slug %}" class="more-btn">VIEW</a>
  </div>
</div>