{% load static %}


<!-- 
Workpacket card yapısını oluşturan kod yapısı

-->
<div class="service-card" data-aos="fade-left">
  <a href="{% url 'workpacket_details' workpackage.slug %}" class="card-img">
    <img
      src="{{ workpackage.image.url }}"
      class="ak-bg"
      alt="..."
    />
  </a>
  <div class="card-info">
    <a href="{% url 'workpacket_details' workpackage.slug %}" class="card-title">
      {{ workpackage.title }}
    </a>
    
    <p class="card-desp">
      <!--{{ workpacketModel.description|truncatewords:10|safe }}-->
    </p>
    
    <a href="{% url 'workpacket_details' workpackage.slug %}" class="more-btn">VIEW</a>
  </div>
</div>