{% load static %}

<!-- Gallery Başlangıç-->
<div class="ak-height-125 ak-height-lg-80"></div>
<div>
    <h4>{{guideMain.title}}<h4><!---->
    <div class="gallery" id="static-thumbnails">
        <div class="item">
            <!-- Gallery sayfasından 1 adet öge anasayfada gösterilmektedir. 
            {% for gallery in gallerys|slice:1 %}
                <a href="{{gallery.image.url}}">
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; padding: 20px; background-color: black; opacity: 70%">
                        <p style="text-align: center;">{{ gallery.title|title }}</p>
                    </div>
                    <img src="{{gallery.image.url}}" alt="Phto" />
                    <div class="frame gallery-hover-icon">
                        <span><img src="{% static 'img/zoom.svg' %}" alt="zoom"></span>
                    </div>
                </a>            
            {% endfor %}-->
            <div class="ak-height-50 ak-height-lg-50"></div>
            <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3 g-5 g-lg-4">
                <!-- Event sayfasından 3 adet öge anasayfada gösterilmektedir. -->
                {% for guidebook in guidebooks|slice:":3" %}
                    {% include "myapp/partials/_guidebook.html" %}
                {% endfor %} 
            </div>
        </div>
    </div>
    <!-- Gallery Bitiş-->

    <!-- Gallery sayfasına yönlendiren button -->
    <div class="ak-height-50 ak-height-lg-20"></div>
    <div class="container" style="display: flex; justify-content: center; align-items: center;">
            <h4 class="title">
                <a href="/guidebook" class="title common-btn"> View More Guidebooks</a>
            </h4>
    </div>
</div>