{% load static %}


<!-- 5. News -->
<div class="ak-height-125 ak-height-lg-80"></div>
<div class="ak-height-125 ak-height-lg-80"></div>
<div class="ak-height-125 ak-height-lg-80" id="news"></div>
<div class="container">
    <div class="center-section-heading" data-aos="fade-up">
        <div class="ak-section-heading ak-style-1">
            <div class="background-text" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
                {{ section.backHeader }}
            </div>
            <div class="text-md-center">
                <h2 class="ak-section-title">{{ section.header }}</h2>
                <p class="ak-section-subtitle">{{ section.descriptions }}</p>
            </div>
        </div>
    </div>
    <div class="ak-height-50 ak-height-lg-50"></div>
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3 g-5 g-lg-4">
        <!-- Event sayfasından 3 adet öge anasayfada gösterilmektedir. -->
        {% comment "" %} newss {% endcomment %}
        {% for news_item in news|slice:":3" %}
            {% include "myapp/partials/_newsCard.html" %}
        {% endfor %} 
    </div>
    <!-- Video sayfasına yönlendiren button-->
    <div class="ak-height-70 ak-height-lg-20"></div>
    <div class="container" >
            <h4 class="title" style="display: flex; justify-content: center; align-items: center;">
                <a href="{% url "news" %}" class="title common-btn"> View More News</a>
            </h4>
    </div>
</div>
<!-- News Bitiş -->