{% load static %}

<!-- 3. Output Başlangıç -->
<div class="ak-height-125 ak-height-lg-80" id="outputs"></div>
<div class="container">
    <div class="ak-section-heading ak-style-1">
        <div class="background-text">{{ section.backHeader }}</div>
        <h2 class="ak-section-title">{{ section.header }}</h2>
        <p class="ak-section-subtitle">{{ section.descriptions }}</p>
    </div>

    {% for content in outputContents %}
        {% if content.content_type == 'video' %}
            {% include "myapp/mainPage/_videoMainPage.html" %}
        {% elif content.content_type == 'info' %}
            {% include "myapp/mainPage/_galleryMainPage.html" %}
        {% elif content.content_type == 'podcast' %}
            {% include "myapp/mainPage/_podcastsMainPage.html" %}
        {% elif content.content_type == 'guidebook' %}
            {% include "myapp/mainPage/_guidebookMainPage.html" %}
        {% elif content.content_type == 'rtuk' %}
            {% include "myapp/mainPage/_rtukMainPage.html" %}
        {% endif %}
    {% endfor %}

</div>
<!-- Output Bitiş -->