{% load static %}

<!-- Video Popup Başlangıç-->
<div class="ak-height-125 ak-height-lg-80"></div>
<div class="video-home"><!--"https://www.youtube.com/watch?v=VcaAVWtP48A"-->
    <a href={{ videoMain.URL }}
        class="ak-video-block ak-style1 ak-video-open ak-bg ak-parallax_bg imagesZoom"
        data-src="{{videoMain.image.url}}" data-aos="zoom-out-down" data-aos-duration="1000"
        data-aos-delay="200">
        <span class="ak-heartbeat-btn">
            <span></span>
        </span>
    </a>
</div>
<!-- Video Popup Bitiş-->

<!-- Video sayfasına yönlendiren button-->
<div class="ak-height-50 ak-height-lg-20"></div>
<div class="container" >
        <h4 class="title" style="display: flex; justify-content: center; align-items: center;">
            <a href="/video" class="title common-btn"> View More Videos</a>
        </h4>
</div>
