{% load static %}

<!-- Sayfa Footer Başlangıcı -->
<div class="ak-height-125 ak-height-lg-80"></div>
<footer class="footer style-1 footer-bg">
    <div class="container">
        <div class="ak-height-35 ak-height-lg-15"></div>
        <div class="primary-color-border"></div>
        <div class="copy-right">
            <p class="title  text-hover-animaiton">Copyright 2024, All Right reserved</p>
            <div class="social-icon">
                
                {% for socialMedia in socialMediaLinks %}
                    {% if socialMedia.platform == 'youtube' %}
                        {% include "myapp/links/_youtube.html" %}
                    {% elif socialMedia.platform == 'instagram' %}
                        {% include "myapp/links/_instagram.html" %}
                    {% elif socialMedia.platform == 'spotify' %}
                        {% include "myapp/links/_spotify.html" %}
                    {% elif socialMedia.platform == 'facebook' %}
                        {% include "myapp/links/_facebook.html" %}
                    {% elif socialMedia.platform == 'telegram' %}
                        {% include "myapp/links/_telegram.html" %}
                    {% elif socialMedia.platform == 'discord' %}
                        {% include "myapp/links/_discord.html" %}
                    {% endif %}
                {% endfor %}
                
            </div>
        </div>
    </div>
</footer>
<!-- Sayfa Footer Bitişi -->