{% load static %}

<!-- Sayfa Navbar Başlangıcı -->
<header class="ak-site_header ak-style1 ak-sticky_header">
    <div class="ak-main_header">
      <div class="container">
        <div class="ak-main_header_in">
          <div class="ak-main-header-left">
            <a class="ak-site_branding" href="index.html">
              <img src="{% static 'img/logo.svg' %}" alt="...">
            </a>
          </div>
          <div class="ak-main-header-center">
            <div class="ak-nav ak-medium">
              <ul class="ak-nav_list">
                <li>
                  <a href="/#" class="text-hover-animaiton">Home</a>
                </li>
                <li>
                  <a href="/#about" class="text-hover-animaiton">About</a>
                </li>
                <li>
                  <a href="/#output" class="text-hover-animaiton">Outputs</a>
                </li>
                <li>
                  <a href="/#workpacket" class="text-hover-animaiton">Work Packets</a>
                </li>
                <li>
                  <a href="/#events" class="text-hover-animaiton">Events</a>
                </li>
                <li>
                  <a href="/#partners" class="text-hover-animaiton">Partners</a>
                </li>
                <li>
                  <a href="/#people" class="text-hover-animaiton">People</a>
                </li>
                
                <li>
                  <a href="/#contact" class="text-hover-animaiton">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="nav-bar-border"></div>
</header>
<!-- Sayfa Navbar Bitişi -->
