{% extends "base.html" %} {% load static %} {% block title %}Home {% endblock %}
{% block content %} 

<!--
Bu sayfada ana sayfanın ögeleri bulunmaktadır. Anasayfada sitenin sahip olduğu
içeriklerin genel bir özeti bulunmaktadır. Butonlarla sayfa içeriklerine ulaşılabilmektedir.
-->

<!-- 1. Slider -->
<section class="ak-slider ak-slider-hero-1" id="home">
    <div class="swiper-wrapper">
        <!-- _slider.html sayfasında oluşturulan slayt içerikleri for döngüsü ile yazdırılmaktadır.-->
        {% for slide in slides %}
            {% include "myapp/partials/_slider.html" %}
        {% endfor %}
    </div>
    <div class="ak-swiper-controll-hero-1">
        <div class="ak-swiper-navigation-wrap">
            <div class="ak-swiper-button-prev">
                <div class="hero-swiper-prev">
                    <div class="btn-cricle ak-white-bg-1"></div>
                    <div class="btn-arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="41" viewBox="0 0 29 41"
                            fill="none">
                            <path
                                d="M1.82581 20.0839L7.72307 14.1866C7.93491 13.9392 8.3072 13.9104 8.55457 14.1223C8.80194 14.3341 8.83078 14.7064 8.61889 14.9538C8.59912 14.9769 8.57763 14.9984 8.55457 15.0181L3.66574 19.9129H20.0831C20.4088 19.9129 20.6729 20.1769 20.6729 20.5026C20.6729 20.8284 20.4088 21.0924 20.0831 21.0924H3.66574L8.55457 25.9812C8.80194 26.193 8.83078 26.5653 8.61889 26.8127C8.40699 27.0601 8.03475 27.0889 7.78738 26.877C7.76432 26.8572 7.74278 26.8358 7.72307 26.8127L1.82575 20.9154C1.59714 20.6854 1.59714 20.314 1.82581 20.0839Z"
                                fill="#fff" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="ak-swiper-button-next">
                <div class="hero-swiper-next">
                    <div class="btn-cricle ak-white-bg-1"></div>
                    <div class="btn-arrow ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="41" viewBox="0 0 29 41"
                            fill="none">
                            <path
                                d="M20.5013 20.0839L14.6041 14.1866C14.3922 13.9392 14.0199 13.9104 13.7726 14.1223C13.5252 14.3341 13.4964 14.7064 13.7083 14.9538C13.728 14.9769 13.7495 14.9984 13.7726 15.0181L18.6614 19.9129H2.24401C1.91834 19.9129 1.6543 20.1769 1.6543 20.5026C1.6543 20.8284 1.91834 21.0924 2.24401 21.0924H18.6614L13.7726 25.9812C13.5252 26.193 13.4964 26.5653 13.7083 26.8127C13.9202 27.0601 14.2924 27.0889 14.5398 26.877C14.5628 26.8572 14.5844 26.8358 14.6041 26.8127L20.5014 20.9154C20.73 20.6854 20.73 20.314 20.5013 20.0839Z"
                                fill="#fff" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-pagination">
        <div class="hero-swiper-pagination"></div>
    </div>
    <div class="social-hero">
        {% for youtubeLink in youtubeLinks %}
            {% include "myapp/partials/_youtube.html" %}
        {% endfor %}

        {% for instaLink in instaLinks %}
            {% include "myapp/partials/_instagram.html" %}
        {% endfor %}
        
        {% for spotifyLink in spotifyLinks %}
            {% include "myapp/partials/_spotify.html" %}
        {% endfor %}

        {% for faceLink in faceLinks %}
            {% include "myapp/partials/_facebook.html" %}
        {% endfor %}

        <div class="social-horizontal"></div>
        <h6 class="social-link">FOLLOW US</h6>
    </div>
</section>
<!-- Slider bitiş -->
{% for aboutMain in aboutMains %}
    {% include "myapp/mainPage/_aboutMainPage.html" %}
{% endfor %}

{% for outputMain in outputMains %}
    {% include "myapp/mainPage/_outputMainPage.html" %}
{% endfor %}

{% for workpacketMain in workpacketMains %}
    {% include "myapp/mainPage/_workpacketMainPage.html" %}
{% endfor %}

{% for newsMain in newsMains %}
    {% include "myapp/mainPage/_newsMainPage.html" %}
{% endfor %}
  
<!-- 7. Partner Başlangıç -->
<div class="ak-height-190 ak-height-lg-80" id="partners"></div>    
<div class="container">
    <div class="team-contant">
        <div class="team-heading" data-aos="fade-right">
            <div class="ak-section-heading ak-style-1">
                <div class="background-text" data-aos="fade-right" data-aos-duration="1000">
                    Partners
                </div>
                <h2 class="ak-section-title">Partners</h2>
                <p class="ak-section-subtitle">
                    We extend our deepest gratitude to our partners for their crucial role, which significantly contributes to the success of our project and the broader goal of improving disaster journalism.
                </p>
            </div>
            <div class="ak-height-50 ak-height-lg-10"></div>
        </div>
        <div class="teams" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100" data-aos-offset="0">
            <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 g-3 g-md-3">
                <!-- Partnerler for döngüsüyle ekranda gösterilmektedir. -->
                {% for partner in partners %}
                    <div class="col">
                        <div class="team-card ak-bg" data-bs-toggle="modal"  data-src="{{partner.image.url}}" data-bs-target="#staticBackdrop{{partner.id}}">
                            <div class="team-style-1">
                                <div class="team-info">
                                    <div class="team-title">
                                        <p class="desp">{{partner.title}}</p>
                                    </div>
                                    <div class="team-info-social" >
                                        <a href="{{partner.website}}" target="_blank" class="icon" style="display: flex; justify-content: center; align-items: center;">
                                            <svg  version="1.0" xmlns="http://www.w3.org/2000/svg"
                                                width="25" height="25" viewBox="0 0 512.000000 512.000000"
                                                preserveAspectRatio="xMidYMid meet">

                                                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                                                fill="#fff" stroke="none">
                                                <path d="M2375 4793 c-921 -80 -1710 -724 -1963 -1603 -68 -235 -87 -373 -86
                                                -635 0 -249 16 -372 78 -598 206 -746 807 -1347 1553 -1553 224 -61 349 -77
                                                598 -78 242 -1 343 11 559 65 621 155 1161 592 1453 1174 90 178 171 439 209
                                                670 27 164 25 505 -4 675 -85 500 -304 918 -659 1261 -369 356 -836 571 -1343
                                                618 -107 10 -303 12 -395 4z m252 -328 c189 -79 382 -463 482 -960 l28 -140
                                                -288 -3 c-159 -1 -419 -1 -578 0 l-288 3 28 140 c78 389 215 715 365 871 92
                                                96 169 123 251 89z m-678 -157 c-130 -257 -230 -578 -284 -910 l-6 -38 -421 0
                                                c-396 0 -420 1 -414 18 4 9 31 60 61 113 223 394 564 692 985 860 52 21 101
                                                38 108 38 7 1 -4 -32 -29 -81z m1294 46 c339 -134 628 -352 841 -634 76 -101
                                                174 -259 201 -325 l15 -35 -419 0 -420 0 -6 38 c-54 332 -154 653 -284 910
                                                -23 45 -37 82 -31 82 6 0 52 -16 103 -36z m-1630 -1441 c-5 -71 -8 -229 -8
                                                -353 0 -124 3 -282 8 -352 l7 -128 -459 0 -459 0 -15 68 c-33 143 -41 233 -41
                                                412 0 179 8 269 41 413 l15 67 459 0 459 0 -7 -127z m1574 30 c10 -127 10
                                                -639 0 -765 l-9 -98 -618 0 -618 0 -9 98 c-4 53 -8 225 -8 382 0 157 4 329 8
                                                383 l9 97 618 0 618 0 9 -97z m1246 30 c35 -157 41 -224 41 -413 0 -189 -6
                                                -256 -41 -412 l-15 -68 -459 0 -458 0 7 98 c4 53 7 225 7 382 0 157 -3 329 -7
                                                383 l-7 97 458 0 459 0 15 -67z m-2768 -1250 c54 -333 154 -654 284 -910 23
                                                -46 38 -83 33 -83 -19 0 -222 84 -303 126 -242 125 -478 325 -644 546 -75 99
                                                -173 257 -200 323 l-15 35 419 0 420 0 6 -37z m1470 20 c-2 -10 -16 -76 -30
                                                -146 -99 -492 -303 -885 -491 -947 -226 -75 -497 378 -617 1033 l-15 77 578 0
                                                c545 0 578 -1 575 -17z m1150 -18 c-8 -20 -39 -78 -70 -130 -183 -312 -453
                                                -570 -769 -736 -87 -46 -284 -129 -306 -129 -6 0 8 37 31 83 130 256 230 577
                                                284 910 l6 37 420 0 419 0 -15 -35z"/>
                                                </g>
                                                </svg>

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>        
</div>
<!-- Partnerlerin modal yapısı burada bulunmaktadır. -->    
{% for partner in partners %}
    <!-- Modal -->
    <div class="modal fade " id="staticBackdrop{{partner.id}}" 
        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel{{partner.id}}" aria-hidden="true">
        
        <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered border-none">
            <div class="modal-content" style="background-color: #101010; border-color: #808080; font-family: Sarabun; font-size: 18px; font-weight: 400;">
                <div class="modal-header" style="border:none;">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: #d3d3d3"></button>
                </div>
                <div class="modal-body">
                    <p>{{ partner.description|safe }}</p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<!-- Partner Bitiş -->            

{% for viewMain in viewMains %}
    {% include "myapp/mainPage/_viewMainPage.html" %}
{% endfor %}

<!-- 9. İletişim Başlangıç -->
<div class="ak-height-125 ak-height-lg-80"></div>
<div class="ak-height-125 ak-height-lg-80"></div>
<div class="container" id="contact">
    <div class="contact-content">
        <div class="contact-title-section" data-aos="fade-up" data-aos-delay="700">
            <h2 class="contact-form-title ak-white-color text-uppercase">Contact Us</h2>
        </div>
        <div class="ak-height-25 ak-height-lg-20"></div>
        <div class="contact-form" data-aos="fade-up" data-aos-delay="750">
            <form method="POST">
                {% csrf_token %}
                <div class="from-inputs ">
                    <div class="type_1">
                        <label for="fullname" class="form-label">Full Name*</label>
                        <input type="text" name="firstname" id="fullname">

                    </div>
                    <div class="type_1">
                        <label for="emailInput" class="form-label">Email*</label>
                        <input type="text" name="email" id="emailInput">
                    </div>
                </div>
                <div class="from-textarea">
                    <div class="type_1">
                        <label for="textareaInput" class="form-label">Your Message*</label>
                        <textarea name="textarea" rows="5" id="textareaInput">
        
                        </textarea>
                    </div>
                </div>
                <div class="ak-height-40 ak-height-lg-20"></div>
                <button type="submit" class="common-btn">SEND MESSAGE</button>
            </form>
        </div>
    </div>
</div>
<!-- İletişim Bitiş -->

<!-- Videonun Popup şeklinde çıkması için gerekli kısım. -->
<div class="ak-video-popup">
    <div class="ak-video-popup-overlay"></div>
    <div class="ak-video-popup-content">
        <div class="ak-video-popup-layer"></div>
        <div class="ak-video-popup-container">
            <div class="ak-video-popup-align">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="about:blank"></iframe>
                </div>
            </div>
            <div class="ak-video-popup-close"></div>
        </div>
    </div>
</div>

{% endblock %}